ion-img{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: block !important;
    /*width: 100%;*/
}
h1{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: block !important;
}