<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="profileImage">
          <ion-img src="assets/images/profile.png"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1><b> FEDRO </b></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><br><br>
        <h1><small> 00000021661 - CL</small></h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col><br><br><br><br>
        <p> Saya mengerjaikan project ini sendiri , dan saya tidak menggunakan library dari luar</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
